**/node_modules
#/default/node_modules
#/mobile/node_modules
#/server/node_modules
#/process/node_modules
#/template/node_modules
#/default/node_modules

/.idea/
**/.idea
#/default/.idea
#/mobile/.idea
#/server/.idea
#/process/.idea
#/template/.idea
#/default/.idea

**/.vscode
#/default/.vscode
#/mobile/.vscode
#/server/.vscode
#/process/.vscode
#/template/.vscode
#/default/.vscode

.env*
**/.env
**/.env*
client/.env.local
client/.env.development 
client/.env.production
template/.env.local
template/.env.development
template/.env.production
server/.env
#/client/.env
#/mobile/.env
#/server/.env
#/process/.env
#/template/.env
#/default/.env

/client/.next
/client/.vercel
/default/.next
/default/.vercel
/server/dist
/mobile/.expo
/mobile/expo-env.d.ts
**/expo-env.d.ts
/client/next-env.d.ts
/default/next-env.d.ts
**/next-env.d.ts
*.tsbuildinfo

Thumbs.db
.DS_Store
**/.DS_Store
**/package-lock.json
**/yarn.lock

#/client/.DS_Store
#/mobile/.DS_Store
#/server/.DS_Store
#/process/.DS_Store
#/template/.DS_Store
#/default/.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

